{{!-- This will be column c --}}
<div class="col-sm-3" >
    <h3>BURGERS RESIDING IN THE PIT</h3>
        <br><br>
        <!-- <img id="burger-first" class = "img-rounded" src="./Instructions/burger/public/assets/img/stolen-burger.jpg" alt="Mushroom Burger" width="200px" height="200px"> -->
        <img id="burger-first" class = "img-rounded" src="../../UPENN201804FSF4-Class-Repository-FSF/14-handlebars/Homework/Instructions/burger/public/assets/img/stolen-burger.jpg" alt="Mushroom Burger" width="200px" height="200px">
    </div>