<!DOCTYPE html>
    <html lang = "eng-us">

        <head>
            <title>REALLY LATE BURGERS!</title>
            <link rel="stylesheet" href="../../public/assets/css/burger_style.css">

        </head>

        <body>
            {{{ body }}}
        </body>
        
    </html>
