
 
{{!-- This will be column a --}}
<div class="col-sm-3" >
    <h3>BURGERS TO DELIGHT IN!</h3>
        <ul>
        {{#each burgers}}
        <br>
            {{#unless this.devoured}}
            <br>
                <li>{{this.burger_name}}</li>
                <br>
                <img id="burger-first" class = "img-rounded" src="/assets/img/stolen-blt.jpg" alt="Sliced Burger" width="175px" height="175px"><br><br>
                <button class="btn devourBurger" data-id={{this.id}}>Enjoy it!</button>
            {{/unless}}
        {{/each}}
        </ul>
</div>

{{!-- This will be column b --}}
<div class="col-sm-6" ><h3>What is your hearts desire?</h3>
{{!-- <br> --}}
<div id="burger-creation">
    <form class="text-center">
        <h1> Stolen Burgers are sweetest,</h1>
        <h1> & Fries eaten when alone are pleasant! </h1><br>
        <img id="burger-first" class = "img-rounded" src="/assets/img/stolen-burger.jpg" alt="Mushroom Burger" width="300px" height="300px"><br><br>
        <input type="text" class="form-control text-center" id="burgerName" name="burger_name"><br>
        <button class="btn btn-succes" id="createBurger">CREATE!</button>
            
    </form>
    </div>
</div>

{{!-- This will be column c --}}
<div class="col-sm-3" >
    <h3>BURGERS RESIDING IN THE PIT</h3>
        <ul>
        {{#each burgers}}
            {{#if this.devoured}}<br><br>
                <li>{{this.burger_name}}</li>
                    <br>
                <img id="burger-first" class = "img-rounded" src="/assets/img/stolen-crab.jpg" alt="Eaten Burger" width="175px" height="175px">
                <br><br>
                {{!-- <button class="btn againBurger" data-id={{this.id}}>Recreate it!</button> --}}
                <br>
            {{/if}}
        {{/each}}
        </ul>
    </div>


