<div id="burger-creation">
    <h1> Stolen Burgers are sweetest,</h1>
    <h1> and Fries eaten when alone are pleasant! </h1>
    <img id="burger-first" src="../public/assets/img/stolen-burger.jpg" alt="Mushroom Burger" width="150px" height="150px">
</div>

<form class = """