.wrapper {
    background-color: #e89738;
}

.container {
    background-image: url("../img/stolen-butcherblock-pattern.jpg");
    background-color: bisque
}


.jumbotron {
    text-align: center;
    color: ghostwhite;
    background-color:#121233;
}

.container-fluid {
    color: ghostwhite;
    font-family: 'Poppins' , helvetica;
}

#footer {

    color: ghostwhite;
    background-color: #121233;
}

h1 {
    font-family: "Playfair Display", sans-serif;
}